<div class='container-fluid'>
    <div class='row'>
        <div class='col-sm-2'>
          <nav>
            <ul class='sidebar-nav'>
                <li>
                    <a href='/'>Home</a>
                </li>
                <li>
                    <a href='/product'>All products</a>
                </li>
                <li>
                    <a href='/category'>All categories</a>
                </li>
                <li>
                    <hr>
                </li>
                <li>
                    <a href='/product/add'>Add new product</a>
                </li>
                <li>
                    <a href='/category/create'>Create new category</a>
                </li>
            </ul>
          </nav>
        </div>
        <div class='col-sm-10'>